scrapy
beautifulsoup4
webdriver_manager
selenium
fake-useragent
seletools
undetected-chromedriver
setuptools
python-dotenv
psycopg2-binary
requests
truststore==0.10.4
simple-term-menu
Pillow
chromedriver